@import "navbar";
@import "channels";
@import "messages";
@import "form";

body {
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

h1 {
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F4F4F4;
}

.channels {
  width: 220px;
  background: #F4F4F4;
  color: black;
  padding: 20px;
}

.channel {
  width: calc(100% - 280px);
  font-size: 14px;
  padding: 20px 25px;
}
